<robot name="block3">
  <link name="block3">
    <inertial>
      <origin xyz="0.0 0.0 0.0" />
      <mass value="0.01" />
      <inertia  ixx="0.0007533" ixy="0.0"  ixz="0.0"  iyy="0.0007533"  iyz="0.0"  izz="0.0000066666" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.3 0.02 0.02" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.3 0.02 0.02" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="block1">
    <material>Gazebo/black</material>
     <mu1>1</mu1>
     <mu2>1</mu2>
     <kp>100000000</kp>
     <kd>100</kd>
     <minDepth>0.001</minDepth>
  </gazebo>
</robot>
